 

 .MessagesArea {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: auto;
    overflow-y: auto;
    padding: 0 10px;
    box-sizing: border-box;
    background-color: azure;
 }

 .MessagesList {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    list-style: none;
    flex-grow: 1;
    padding : 10px;
    overflow: auto;
 } 

 .UsernameAndUserColor {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    align-items: flex-end;
    margin-bottom: -10px;    /* razmak izmedju username i text */
    
    
 }

 .UserName {
   display: flex;
   align-items: flex-end;
    padding: 0px 10px;
    font-size: 16px;
    color:gray;
 }

.UserColor{
   width: 40px;
      height: 40px;
      border-radius: 20px;
   }
   
   .MessagesMessageCurrentMember {
      text-align: end;
      align-items: flex-end;
    }
    .CurrentMember .text {
      color: #174943;
      
    }

    .MessagesMessage {
      /* display: flex; */
      /* flex-direction: column; */
      /* font-size: 14px; */
      text-align: start;
      align-items: flex-start;
      /* margin-left:-10px; */   /* s ovim mjenjam poziciju poruke od drugog usera */
    }

    .MessagesMessage > .UsernameAndUserColor {
      display: flex;
      flex-direction: row-reverse;
      text-align: start;
      justify-content: left;
      align-items: center;
      
    } 

    .MessagesMessageCurrentMember > .UsernameAndUserColor {
      display: flex;
      flex-direction: row;
      text-align: end;
      justify-content: right;
      align-items: center;
      
    }

      .MessageContent {
         display: inline-block;
         padding: 0px 0px;
         color: rgb(18, 48, 82);
         font-size: 16px;
         margin-bottom: 25px;
         max-width: 30vw;  /* hendlanje veličine poruke */
         overflow-wrap: break-word; /* hendlanje veličine poruke */
         


       
      }

      .MessageText {
          padding :2px 2px 2px 2px; 
         margin: 2px 30px 2px 0px;  /* s ovim mjenjam odmak texta */
         color:white; 
         background-color: rgb(146, 146, 255); 
         border-radius:6px ; 
         
      }

      .Timestamp {
         display: inline-block;
         /* padding: 0px 5px; */
         color: grey;
         font-size: 12px;
         padding-right: 10px;
         margin-bottom: 10px;
      }


      .NoMessages {
         display: flex;
         justify-content: center;
         align-items: center;
         height: 100%;
         font-size: 20px;
         color: grey;
      }



