 

 .MessagesArea {
    display: flex;
    flex-direction: column; 
    height: 100%;
    width: auto;
    overflow-y: auto;
    padding: 0 10px;
    box-sizing: border-box;
    background-color: rgb(240, 255, 255);
    font-family:'Poppins', sans-serif;
 }

 .MessagesList {
    box-sizing: border-box; 
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    list-style: none;
    flex-grow: 1;
    padding : 10px;
    overflow: auto; 
 } 

 .MessagesMessageCurrentMember {
 /*   display: flex;
   flex-direction: column; */
   text-align: end;
   align-items: flex-end;
   
 }

 .MessagesMessage {
  /*  display: flex;
   flex-direction: column; */
   text-align: start;
   align-items: flex-start;
 }

 .UserName {
    font-size: 14px;
    color:gray;
    padding:0 10px;
    
 }

.UserColor {
   width: 30px;
      height: 30px;
      border-radius: 20px;
   }


   .MessagesMessageCurrentMember > .UsernameAndUserColor {
      display: flex;
      flex-direction: row;
      text-align: end;
      justify-content: right;
      align-items: center;
      
    }

    .MessagesMessage > .UsernameAndUserColor {
      display: flex;
      flex-direction: row-reverse;
      justify-content: left;
      align-items: center;
    } 


    
    .MessageContent {
      display: inline-block;
      padding: 0px 0px;
      color: rgb(18, 48, 82);
      font-size: 16px;
      margin-bottom: 30px;
      max-width: 30vw;  
      overflow-wrap: break-word;
      padding-top:0;
      padding-bottom:0;
   }


   .MessagesMessageCurrentMember > .MessageContent {
      margin-right: 40px;
    }
   

    .MessagesMessage > .MessageContent {
     margin-left: 40px;
    }


   

      .MessageText {
         padding :5px 4px 4px 5px;
         margin-top:0px; 
         margin-bottom :0px;
         color: white; 
         /* background-color: #ff9292; */
         background-color: #a2a8ff;
         border-radius:6px ; 
         
      }


      .MessagesMessage > .MessageContent > .MessageText {
         background-color: #00bfc5; 
      }

      .MessagesMessageCurrentMember > .MessageContent > .Timestamp {
         display: inline-block;
         color: grey;
         font-size: 12px;
      }

      .MessagesMessage > .MessageContent > .Timestamp {
         display: inline-block;
         color: grey;
         font-size: 12px;
      }


      .NoMessages {
         display: flex;
         justify-content: center;
         align-items: center;
         height: 100%;
         font-size: 20px;
         color: grey;
      }



