.InputField {
    height: 60px;
    background-color: #b7ffffd2;
    text-align: center;
}

.InputForm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

   .InputText {
    display :flex;
    align-items: center;
    width: 55%;
    height: 30px;
    text-align: left;
    padding: 0 10px;
    border: 1px solid rgb(42, 194, 181);
    border-radius: 4px;
    color: rgb(22, 145, 134);
    font-family:'Poppins', sans-serif;
} 

.InputButton {
    width: 18%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px 20px;
    padding: 0 20px;
    font-size: 16px;
    outline: none;
    background-color: rgb(42, 194, 181); 
    color: white;
    cursor: pointer;
    font-family:'Poppins', sans-serif;
}

.InputButton:hover {
    background-color: rgb(22, 145, 134);
}