.LoginPage{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: top;  /*vertikalno centriranje*/
    text-align: center;
    min-height: 100vh;
    background-color: #6fe77f; 
    font-family:'Poppins', sans-serif;
    
    
    
}


.H1LoginPage{


    font-size: 40px;
    font-weight: 600;
    color: #fff;

    /* padding: 40px 0px; */
    /* margin-top: 10px;  */
     margin-top: 150px; 
     margin-bottom: 50px;  
}


.FormBackground{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 360px;
    /* max-height: 500px; */
    padding: 30px 30px;
    background-color: #82a3fd;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    margin-top: 10px;
}


.LabelTag{
    display :block;
    color: #fff;
    font-size : 20px ;
}

.InputText{
    display: block;
    width: 100%;
    margin : 15px 0;
    padding: 4px; 
    /* border: 3px solid white; */
    border : none;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    
    /* box-shadow: 0 0 10px 0 rgba(0,0,0,0.2); */
}

.LoginButton{
    display: block;
    width: 70%;
    margin : 15px 0;
    padding: 6px; 
    border :none;
    /* border: 3px solid #8bdeff; */
    border-radius: 5px;
    background-color: #8bdeff;
    font-size: 16px;
    font-weight: 600;
    color: #046b94;
    /* box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);  */
    cursor : pointer;
}

.LoginButton:hover{
    background-color: #046b94;
    color: #fff;
}

.ErrorMessage{
   
    
    color: red;
    font-size: 14px;
    /* font-weight: 600; */
    margin: -10px 0px 0px 0px;
    padding: 0px;
   
}