.LoginPage{ 
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: top;  /*vertikalno centriranje*/
    text-align: center;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgb(42, 194,181), #b7ffffd2);
    font-family:'Poppins', sans-serif;
}

.H1LoginPage{
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    margin-top: 150px; 
    margin-bottom: 50px;  
}

.FormBackground{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 360px;
    padding: 30px 30px;
    margin-top: 10px;
    background-color: #82a3fd;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.LabelTag{
    display :block;
    color: #fff;
    font-size : 20px ;
}

.InputText{
    display: block;
    width: 100%;
    margin : 15px 0;
    padding: 4px; 
    border : none;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
}

.LoginButton{
    display: block;
    width: 70%;
    margin : 15px 0;
    padding: 6px; 
    border :none;
    border-radius: 5px;
    background-color: #8bdeff; 
    font-size: 16px;
    font-weight: 600;
    color: #046b94;
    cursor : pointer;
}

.LoginButton:hover{
    background-color: #046b94;
    color: #fff;
}

.ErrorMessage{
    color: red;
    font-size: 14px;
    margin: -10px 0px 0px 0px;
    padding: 0px;
}

.CameraLogoLoginWhite{
    width: 100px;
    height: 100px;
    margin-top: 50px;
}



